:root {
  --background: __BACKGROUND_COLOR__;
  --text-color: #eeeeee;

  --border-radius: 5px;
  --border-color: __BORDER_COLOR__;

  --icon-size: 24px;
}

* {
  font-family: "Inter", "Roboto", "sans-serif";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  all: unset;
}

.notification-row {
  outline: none;
  margin: 5px;

  margin-bottom: 0px;
}

.notification {
  margin: 0px;
  border-radius: var(--border-radius);
  border: 2px solid var(--border-color);
  background: var(--background);
  color: var(--text-color);
  padding: 10px;
}

.summary {
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--text-color);
}

.body {
  font-size: 0.95rem;
  color: #bbbbbb;
}

.notification-default-action image,
.notification-default-action .image {
  margin-right: 15px;
}

.close-button:hover {
  box-shadow: none;
  background: var(--background);
  transition: all 0.15s ease-in-out;
  border: none;
}

.notification-content {
  border-radius: 0px;
}

.notification-default-action,
.notification-action {
  margin: 0;
  box-shadow: none;
  color: var(--text-color);
}

.notification-default-action:hover,
.notification-action:hover {
  -gtk-icon-effect: none;
}

.notification-default-action {
  border-radius: 8px;
}

.notification-default-action:not(:only-child) {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.notification-action {
  border-radius: 0px;
  border-top: none;
  border-right: none;
}

.close-button {
  background: transparent;
  color: var(--text-color);
  text-shadow: none;
  padding: 0;
  border-radius: 100%;
  margin-top: 5px;
  margin-right: 5px;
  box-shadow: none;
  border: none;
  min-width: 24px;
  min-height: 24px;

  opacity: 0;

  transition: all 0.2s ease-in-out;
}

.notification-row:hover .close-button {
  opacity: 0.5;
}

.notification-row:hover .close-button:hover {
  opacity: 1;
  color: var(--bg-color);
}

/* Notification center */

.control-center {
  background: var(--background);
  color: var(--text-color);

  border: 2px solid var(--border-color);
  border-radius: var(--border-radius);

  margin: -5px;
}

.control-center .close-button {
  background: transparent;
  color: transparent;
}

.control-center .control-center-list-placeholder {
  opacity: 0.5;
}

.control-center .control-center-list {
  background: transparent;
}

.blank-window {
  background: transparent;
}

.floating-notifications {
  background: transparent;
}

.floating-notifications .notification {
  box-shadow: none;
}

/* Widgets */

.widget {
  margin: 8px;
  margin-top: 4px;
  margin-bottom: 0;
  padding: 12px;
  padding-bottom: 16px;

  border-bottom: 1px solid alpha(var(--border-color), 0.5);
}

.widget:first-child {
  margin-top: 8px;
  padding-right: 7px;
}

.widget:last-child {
  margin-bottom: 8px;
  border-bottom: none;
}

.widget-title>label {
  margin-right: 8px;
  font-size: 1.5rem;
}

.widget-title>button {
  margin-left: 8px;
  padding: 4px 8px;

  border-radius: var(--border-radius);
  background-color: alpha(var(--text-color), 0.25);
  color: var(--background);

  transition: background 0.15s ease-in-out;
}


.widget-title>button:hover {
  background-color: alpha(var(--text-color), 0.75);
}

/* Do Not Disturb widget */

.widget-dnd {
  margin-top: 4px;
}

.widget-dnd label {
  color: var(--text-color);
  margin-right: 8px;
  font-size: 1.1rem;
}

.widget-dnd switch {
  background-color: alpha(var(--text-color), 0.4);
  border-radius: var(--border-radius);
  margin-left: 8px;
  padding: 1px;

  transition: background-color 0.2s ease;
}

.widget-dnd switch:checked {
  background-color: var(--border-color);
}

.widget-dnd switch slider {
  background-color: var(--border-color);
  margin: 1px;
  border-radius: var(--border-radius);

  transition: background-color 0.2s ease;
}

.widget-dnd switch:checked slider {
  background-color: var(--background);
}

/* Label widget */

.widget-title>label {
  font-size: 1.1rem;
}

/* Grouped notifications */

.widget-notifications {
  padding: 0;
  padding-top: 8px;
}

.widget-notifications .group-name {
  margin-bottom: 6px;
}

.notification-group {
  transition: opacity 200ms ease-in-out;
  /* background-color: green; */
}

.notification-group .notification-group-close-button .close-button {
  margin: 12px 20px;
}

.notification-group .notification-group-buttons,
.notification-group .notification-group-headers {
  color: var(--text-color);
}

.notification-group .notification-group-headers .notification-group-icon {
  color: var(--text-color);
  -gtk-icon-size: var(--icon-size);
  padding: 2px;
}

.notification-group .notification-group-headers .notification-group-header {
  color: var(--text-color);

  font-size: 1.1rem;
}

.notification-group .notification-group-buttons button {
  -gtk-icon-size: var(--icon-size);

  padding: 2px;
  border-radius: var(--border-radius);
  color: alpha(var(--border-color), 0.25);

  transition: all 0.15s ease-in-out;
}

.notification-group .notification-group-buttons button:hover {
  color: alpha(var(--border-color), 0.75);
}

.notification-group-collapse-button image {
  transform: scale(0.85);
}

.notification-group.collapsed .notification-row:not(:last-child) .notification-action,
.notification-group.collapsed .notification-row:not(:last-child) .notification-default-action {
  opacity: 0;
}
