BraveSoftware
Code
Code - OSS
libreoffice
chromium
nvim
gtk-2.0
gtk-3.0
gtk-4.0
github-copilot
WebCord
yay
go
swi-prolog
dconf
Electron
pulse
hardhat-nodejs
nextjs-nodejs
Thunar
xfce4
xsettingsd
QtProject.conf

/code-flags.conf
/user-dirs.dirs
/trashrc
/hypr/dynamic-border.conf
/hypr/monitor-setup.conf
/wallpaper
/wlogout/style.css
/waybar/style.css
/oh-my-posh/themes/EDM115-newline.omp.json
