* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: rgba(0, 0, 0, 0);
  color: #cdd6f4;
}

window#waybar.empty #window {
  background: rgba(0, 0, 0, 0);
}

tooltip {
  background: __BACKGROUND_COLOR__;
  border-radius: 7px;
  border-width: 2px;
  border-style: solid;
  border-color: #11111b;
}

tooltip label {
  color: #cdd6f4;
}

#workspaces button {
  padding: 5px;
  color: #313244;
  margin-right: 5px;
  transition: all 0.15s ease;
}

#workspaces button.active {
  color: #a6adc8;
}

#workspaces button.focused {
  color: #a6adc8;
  background: #eba0ac;
  border-radius: 7px;
}

#workspaces button.urgent {
  color: #11111b;
  background: #a6e3a1;
  border-radius: 7px;
}

#workspaces button:hover {
  background: #3a3b4e;
  color: #cdd6f4;
  border-radius: 7px;
}

#custom-launch_rofi,
#custom-lock_screen,
#custom-power_btn,
#custom-power_profile,
#custom-weather,
#window,
#cpu,
#disk,
#custom-updates,
#memory,
#clock,
#battery,
#pulseaudio,
#network,
#tray,
#custom-temperature,
#workspaces,
#backlight,
#custom-notification {
  background: __BACKGROUND_COLOR__;
  opacity: 0.8;
  padding: 0px 10px;
  margin-top: 10px;
  border: 0px;
}

#tray,
#custom-lock_screen,
#backlight,
#custom-launch_rofi,
#cpu,
#custom-notification {
  border-radius: 7px 0px 0px 7px;
}

#tray {
  border-radius: 7px;
  padding-left: 10px;
  margin-right: 10px;
}

#custom-power_btn,
#workspaces,
#pulseaudio.microphone,
#battery,
#disk {
  border-radius: 0px 7px 7px 0px;
  margin-right: 10px;
}

#custom-temperature.critical {
  color: #e92d4d;
}

#battery.warning {
  color: #ffdb58;
}

#battery.critical {
  color: #e92d4d;
}

#workspaces {
  padding-right: 0px;
  padding-left: 5px;
}

#custom-power_profile {
  color: #a6e3a1;
  border-left: 0px;
  border-right: 0px;
}

#window {
  border-radius: 7px;
  margin-left: 0px;
  margin-right: 20px;
}

#custom-launch_rofi {
  color: __LOGO_COLOR__;
  margin-left: 10px;
  border-right: 0px;
}

#pulseaudio {
  color: #89b4fa;
  border-left: 0px;
  border-right: 0px;
}

#pulseaudio.microphone {
  color: #cba6f7;
  border-left: 0px;
  border-right: 0px;
}

#battery {
  color: #a6e3a1;
  border-left: 0px;
}

#custom-notification.dnd-notification,
#custom-notification.dnd-none,
#custom-notification.dnd-inhibited-notification,
#custom-notification.dnd-inhibited-none {
  color: #e92d4d;
  padding-right: 11px;
  padding-left: 9px;
}
